body {
  background: url(https://images.unsplash.com/photo-1563206767-5b18f218e8de?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 0.8;
}

h2#title {
  font-size: 10em;
}

span.purple:hover {
  color: #b400b9;
}

span.red:hover {
  color: #c62d48;
}

span.blue:hover {
  color: #56b6c2;
}

span.green:hover {
  color: #98c379;
}

span.yellow:hover {
  color: #c6ad00;
}

input#searchBox {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
    border-radius: 3px;
    box-shadow: none;
    vertical-align: bottom;
}

input#searchBox:focus {
  border-color: #386ca7;
  outline: 0;
  border-width: 1px;
}

button#searchBtn {
  white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    transition: all .15s ease;
    border-style: none;
    cursor: pointer;

}

button#searchBtn:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  border-style: none;
}

button#searchBtn:active, button#searchBtn:focus{
  color: #555abf;
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-style: none;
  outline: none;
}
